/* CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

:root {
    /* main UI color */
    --plyr-color-main: darkgray;
    /* audio controls background */
    --plyr-video-controls-background: black;
    /* audio controls color */
    --plyr-video-control-color: white;
}

body {
    background: #F5C5B7;
    background-image: url(wedding.avif);
    background-attachment: fixed;
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 80em;
    margin-inline: auto;

    background: #70574ea6;
    border-radius: 10px;

    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}


main img {
    /* Fit image to container */
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;

}

main h1 {
display: block;
justify-content: center;
align-items: center;
text-align: center;
color: white;

font-family: "Gothic A1", sans-serif;
font-weight: 800;
font-style: normal;

font-size: 60px;

}
/* Primary Content */
article {

    /* flow content horizontally */
    display: block;
    gap: 1em;
    justify-content: center;
    min-height: 75vh;

    background-color: #70574e7e;

    border-radius: 10px;
    

}

article section {
    display: flexbox;
    min-height: 10em;
    margin: 0 auto;

    padding: 1em;
    font-size: 32px;
    color: white;
}

/* Aside */
article aside  {
    display: block;
    justify-content: center;
    margin: 0 auto;
    max-width: 60em;
    text-align: center;
    
        font-size: 25px;

    color: white;
}


article aside a:link {

    color: #E0090F;
}
article aside a:link {

    text-decoration: none;
}

article aside a:visited {

    color: #E0090F;
}

article aside a:hover {

    text-decoration: underline;
}


/* Footer */
footer p {
    text-align: center;

    color: white;
    padding: 1em;
    margin: 0 auto;
}


/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}