/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: darkgray;
    /* audio controls background */
    --plyr-video-controls-background: black;
    /* audio controls color */
    --plyr-video-control-color: white;
}

body {
    background: #F5C5B7;
    background-image: url(wedding.avif);
    background-attachment: fixed;
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 80em;
    margin-inline: auto;

    background: #70574ea6;
    border-radius: 10px;
}


main img {
    /* Fit image to container */
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;

}

main h1 {
display: block;
justify-content: center;
align-items: center;
text-align: center;
color: white;
}
/* Primary Content */
article {

    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;
    min-height: 100vh;
}

article section,
article aside {
    /* flex'd children same side  */
    flex: 1;
}

/* Aside */
article aside a {
    display: block;
}

/* Footer */
footer p {
    text-align: center;

    color: white;
    padding: 1em;
}


/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}